{% extends 'base.html' %}

{% block jquery %}
<script>
    $(document).ready(function(data){
        var publisher1 = data["publisher1"]
        var publisher2 = data["publisher2"]
        var start_year = data["start_year"]
        var end_year = data["end_year"]
        var endpoint = 'http://127.0.0.1:8000/api/analyse_sales/compare_publisher_by_year/{{publisher1}}/{{publisher2}}/{{start_year}}/{{end_year}}/'
        var defaultData = []
        var labels = [];
        // Set amount of categories
        var length = 20;
        var colors = [];
        $.ajax({
            
            method: "GET",
            url: endpoint,
            success: function(data){
                labels = data.labels
                defaultData = JSON.parse(data.default)
                setChart()
            },
            error: function(error_data){
                console.log("error")
                // console.log(error_data)
            }
        })

        function setChart(){
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: defaultData
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        }
    })

</script>
{% endblock jquery %}

{% block content %}

<div class='row'>
    <div class='col-sm-12''>
        <h1>Compare Publisher Between Two Year</h1>
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <!-- <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div> -->


    </div>
</div>

{% endblock content %}